@{
    ViewData["Title"] = "Joel Hilton";
}
@{
    ViewBag.Header = "The Joel Hilton Film Collection";
}
<!--Aubrey Farnbach Section 2 Group 1-->
<!--This homapage conains the title and picture only-->
<div class="text-center">
    <img src="~/img/JoelHilton.jpg" />
</div>
