@{
    ViewData["Title"] = "Joel Hilton";
}
@{
    ViewBag.Header = "My Podcasts";
}
<div>
    <!--Aubrey Farnbach (Wright) Section 2 Group 1-->
    <!--This page contains a link to the podcast site and an image I copied from that site. The user can click either.-->
    <h2><a href="https://baconsale.com/">BaconSale.com</a></h2>
    <img href="https://baconsale.com/" src="~/img/boardgamesbaconsale.jpg" />
</div>